.contact-maincontainer
{
    height: 100vh;
    width: 100%;
    background-color: black;
}
.contact-container
{
    text-align: center;
    padding: 80px;
 
}
.contact-details-items
{
    text-align: left;
    background-color: rgba(70, 70, 70, 0.493);
    padding: 50px;
    border-radius: 25px;

}
.contact-details2
{
    padding-left: 20px;
}
.contact-container>h4
{
    color: #3B55A5;
}
.contact-container>h1
{
    color: #D57428;
}
.contactcolor>b
{
    color: #D57428; 
    padding: 10px;
}
.contactcolor
{
    color: white;
    font-size: 20px;
    font-weight: normal;
}
.contact-details
{
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInLeftBig {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInLeftBig {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
}
.contact-details2
{
    -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInRightBig {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(2000px, 0, 0);
  transform: translate3d(2000px, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInRightBig {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(2000px, 0, 0);
  transform: translate3d(2000px, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
}
.formcolor
{
    font-size: 20px;
    color: white;
    font-weight: normal;
    padding-bottom: 5px;
}
.formfillup
{
    width: 300px;
    height: 37px;
    border-radius: 7px;
}
.formfillup2
{
    width: 625px;
    height: 37px;
    border-radius: 7px;
}
.formfillup3
{
    width: 625px;
    height: 95px;
    border-radius: 7px;
}
@media only screen and (min-width :360px) and (max-width :640px) {
    .contact-maincontainer
    {
        height: auto;
        width: 100%;
        background-color: black;
        padding-bottom: 30px;
    }
    .contact-details-items
    {
        margin: 10px;
    }
    .contactcolor
    {
       font-size: auto;
    }
}