
.footer-container
{
    text-align: center;
    background-color:  #3b56a52a;
}
.footer-container-item
{
    text-align: center;
    padding: 10px;
}
.footer-container-item-1>img
{
    height: 60px;
    width: min-content;
    margin: 50px;
    padding-left: 600px;
}
.navitems2
{
   display: flex;
   list-style: none;
    font-size: 20px;
    justify-content: center;
}
.footer-icons
{
    padding: 20px;
    display: inline-flex;
}
.footer-icon1
{
    justify-content: center;
    padding: 30px;
}
.footer-icon1>a
{
    color: #3B55A5;
}
.textdec:hover
{
    color: #D57428;
    border-bottom: 1px solid  #D57428;
}
.footer-icon1:hover
{
  transform: scale(1.2);  
}


@media only screen and (min-width :360px) and (max-width :640px){
    .navitems2
    {
       display: inline;
       list-style: none;
        font-size: auto;
        justify-content: center;
    }
    .footer-container-item-1>img
{
    height: 60px;
    width: min-content;
    margin: 30px;
    padding-left: 10px;
}
    .footer-icon1
{
    justify-content: center;
    padding: 10px;
}
}