.portfolio-container
{
    height: 230vh;
    width: 100%;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
}
.portfolio-container2
{
    height: 400px;
    width: 100%;
    background-color: #6f34fe;;
}
.portfolio-container2>h5
{
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
}
.portfolio-container2>h1
{
    color: white;
    text-align: center;
    font-size: 60px;
    padding-bottom: 30px;
}
.selection
{
    margin-left: 590px;
    margin-right: 580px;
    background-color: black;
    color:white;
    border-radius: 20px;
}
.selection-item
{
    margin: 50px;
}
.htmlimg
{
    display: block;
    width: 100%;
    height: 250px;
}
.box1
{
    margin: 6% 0 0 36%;
    position: relative;
    width: 25%;
  
}
.box2
{
    margin: 6% 0 0 36%;
    position: relative;
    width: 25%;
  
}
.box3
{
    margin: 6% 0 0 36%;
    position: relative;
    width: 25%;
  
}
.overlay
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.504);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.box1:hover .overlay
{
   
    height: 100%;
}
.box2:hover .overlay
{
    height: 100%;
}

.box3:hover .overlay
{
    height: 100%;
}


.overlay>h3
{
    margin-top: 50%;
    margin-left: 25%;
    padding: 5px;
    color: black;
    position: absolute;
    text-align: center;
    background-color: white;
    font-size: 15px;
}
.box2
{
    height: 250px;
    width: 250px;
}
.box3
{
    height: 250px;
    width: 250px;
}
.portfolio-link
{
    text-align: center;
    color: #D57428;
    
    cursor: pointer;
}
.portfolio-link:hover
{
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
    }
    100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
    }
    100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
        
}

@media screen and (max-width :780px) {
    .portfolio-container
{
    height: 400vh;
    width: 100%;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
}
.portfolio-container2
{
    height: 400px;
    width: 100%;
    background-color: #6f34fe;;
}
.portfolio-container2>h5
{
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
}
.portfolio-container2>h1
{
    color: white;
    text-align: center;
    font-size: 60px;
    padding-bottom: 30px;
}
.selection
{
    margin-left: 20px;
    margin-right: 20px;
    background-color: black;
    color:white;
    border-radius: 20px;
}
.selection-item
{
    margin: 50px;
}
.box1
{
    height: 250px;
    width: 250px;
    
 
}
.box2
{
    height: 250px;
    width: 250px;

}
.box3
{
    height: 250px;
    width: 250px;

}
.portfolio-link
{
    text-align: center;
    color: #D57428;
    cursor: pointer;
}
}
